/*
*************************************
          Copyright 2018
               benn
*************************************
*/

/************** NAVBAR ********************/

nav {
    top: 0;
    right: 0;
    width: 600px;
    height: 50px;
    background-color: #00000098;
    border-radius: 0 0 8px 8px;
    font-size: 0;
    position: fixed;
    z-index: 1000;
}
nav a#aId {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #55acee;

    cursor: pointer;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease 0s;
    border-radius: 0 0 8px 8px;
    color: black;
}

nav a#aId:hover {
    color: black;
    transition: all 0.5s ease 0s;
}

/* nav a#aId:nth-child(1):hover {
    color: black;
    transition: all 0.5s ease 0s;
  } */

nav a#aId:nth-child(1) {
    width: 150px;
    /* color: black; */
}
nav a:nth-child(2) {
    width: 150px;
}
nav a:nth-child(3) {
    width: 150px;
}
nav a:nth-child(4) {
    width: 150px;
}

/* a:nth-child(5) {
    width: 120px;
  } */
nav .start-home,
nav a#aId:nth-child(1):hover ~ .animation {
    width: 150px;
    left: 0;
    background-color: whitesmoke;
    /* color: black; */
}
nav .start-about,
nav a#aId:nth-child(2):hover ~ .animation {
    width: 150px;
    left: 150px;
    background-color: whitesmoke;
    /* color: black; */
}
nav .start-blog,
nav a#aId:nth-child(3):hover ~ .animation {
    width: 150px;
    left: 300px;
    background-color: whitesmoke;
    /* color: black; */
}
nav .start-portefolio,
nav a:nth-child(4):hover ~ .animation {
    width: 150px;
    left: 450px;
    background-color: whitesmoke;
}
/* nav .start-contact,
  nav a:nth-child(5):hover ~ .animation {
    width: 120px;
    left: 470px;
    background-color: #ebc5a7;
  } */

/**************************** BACKGROUND BODY ******************/
html {
    background-color: #ff3cac;
    background-image: linear-gradient(
        225deg,
        #ff3cac 0%,
        #784ba0 50%,
        #2b86c5 100%
    );
}

/********************** TEMPLATE **********************/

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* set global font to Open Sans */
body {
    font-family: "Open Sans", "sans-serif";
    background-image: url(http://benague.ca/files/pw_pattern.png);
}

/* header */
h1 {
    color: #55acee;
    text-align: center;
}

/* header/copyright link */
.link {
    text-decoration: none;
    color: #55acee;
    border-bottom: 2px dotted #55acee;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.link:hover {
    color: #2ecc71;
    border-bottom: 2px dotted #2ecc71;
}

/* button div */
#buttons {
    padding-top: 50px;
    text-align: center;
}

/* start da css for da buttons */
.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3c93d5;
}

.blue:hover {
    background-color: #6fc6ff;
}

.green {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15b358;
}

.green:hover {
    background-color: #48e68b;
}

.red {
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #ce3323;
}

.red:hover {
    background-color: #ff6656;
}

.purple {
    background-color: #9b59b6;
    box-shadow: 0px 5px 0px 0px #82409d;
}

.purple:hover {
    background-color: #b573d0;
}

.orange {
    background-color: #e67e22;
    box-shadow: 0px 5px 0px 0px #cd6509;
}

.orange:hover {
    background-color: #ff983c;
}

.yellow {
    background-color: #f1c40f;
    box-shadow: 0px 5px 0px 0px #d8ab00;
}

.yellow:hover {
    background-color: #ffde29;
}

/* copyright stuffs.. */
p {
    text-align: center;
    color: #55acee;
    padding-top: 20px;
}

/****************** IMAGE DE CHAT *******************/

div.divCat {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.cat {
    border: 3px;
    border-radius: 15px;
    height: 200px;
    width: auto;
    box-shadow: 12px 15px 4px 1px rgba(0, 0, 0, 0.37);
}
